<%= render "shared/header" %>

<div class="container">
  <div class="module module_theme_inner">
    <div class="text text_size_h1 text_transform_uppercase spacer_bottom-40">
      Расчет заработной платы
    </div>
    <div class="text text_size_h3 text_transform_uppercase spacer_bottom-110">
      Все прозрачно!
    </div>
  </div>
</div>
