<%= render "shared/header" %>

<div class="container">
  <div class="module module_theme_inner">
    <div class="text text_size_h1 text_transform_uppercase spacer_bottom-40">
      Условия работы
    </div>
  </div>
  <div class="text text_size_h3 text_transform_uppercase spacer_bottom-25">
    Начало работы
  </div>
  <div class="spacer_bottom-25">
    <div class="text">
      1. <a href="https://www.uber.com/signup/drive/">Зарегистрируйтесь онлайн</a>
    </div>
    <div class="text">
      2. <a href="https://www.uber.com/uk-UA/drive/resources/vehicle-requirements/">Технические требования для вашего автомобиля</a>
    </div>
  </div>

  <div class="text text_size_h3 text_transform_uppercase spacer_bottom-25">
    Чем еще мы можем помочь?
  </div>
  <div class="text">
    <a href="https://help.uber.com/partners">Поддержка</a>
  </div>
  <div class="text">
    Помочь настроить и активироваь Ваш аккаунт, начать работать с приложением, настроить тарифы
  </div>
  <div class="text">
    <a href="https://www.uber.com/uk-UA/drive/resources/contact-us/">Связь с Uber</a>
  </div>
  <div class="text">
    Вопросы о регистрации, сотрудничестве,работе с приложением
  </div>
  <div class="text">
    <a href="https://www.uber.com/a/signup/drive/deliver/?70307t=">Зарабатывайте больше</a>
  </div>
  <div class="text">
    Доставка с UBEREATS
  </div>
</div>

<div class="container">
  <div class="module module_theme_inner">
    <div class="row spacer_bottom-75">
      <div class="col-sm-5 offset-sm-1 spacer_bottom-40">
            <h2 class="text text_size_h2 spacer_bottom-25">Uber X</h2>
            <div class="text">
              Опрятная иномарка в исправном техническом состоянии не старше 1995 года. Марка автомобиля, например: Chevrolet Aveo, Chevrolet Lacetty, Skoda Rapid, VW Polo, Hyundai Accent, Opel Astra – или аналогичные марки.
            </div>
      </div>
      <div class="col-sm-5">
            <h2 class="text text_size_h2 spacer_bottom-25">Uber VAN</h2>
            <div class="text">
              Опрятный минивэн или микроавтобус в исправном техническом состоянии для перевозки 6 и более пассажиров.
            </div>
      </div>
    </div>

    <div class="row spacer_bottom-75">

    </div>
  </div>
</div>


<div class="module module_theme_driver">
  <div class="container">
    <div class="text text_size_h1 text_color_white text_transform_uppercase spacer_bottom-40">
      Driver
    </div>
    <div class="row spacer_bottom-25">
      <div class="col-sm-4 offset-sm-4">
        <a href="#" class="button">Подключиться</a>
      </div>
    </div>
  </div>
</div>
