<%= render "shared/header" %>

<div class="container">
  <div class="module module_theme_inner">
    <div class="text text_size_h1 text_transform_uppercase spacer_bottom-40">
      UBER ЖДЕТ ТЕБЯ!
    </div>
    <div class="text text_size_h3 text_transform_uppercase spacer_bottom-110">
      УСЛОВИЯ И ТРЕБОВАНИЯ
    </div>

    <div class="row spacer_bottom-75">
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-10 offset-sm-1">
            <h2 class="text text_size_h2 spacer_bottom-25">Uber X</h2>
            <div class="text">
              Опрятная иномарка в исправном техническом состоянии не старше 1995 года. Марка автомобиля, например: Chevrolet Aveo, Chevrolet Lacetty, Skoda Rapid, VW Polo, Hyundai Accent, Opel Astra – или аналогичные марки.
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-10 offset-sm-1">
            <h2 class="text text_size_h2 spacer_bottom-25">Uber Select</h2>
            <div class="text">
              Опрятная иномарка в исправном техническом состоянии не старше 2005 года. Марка автомобиля, например: Toyota Camry, Hyundai Sonata, Skoda Superb – или аналогичные марки.
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-10 offset-sm-1">
            <h2 class="text text_size_h2 spacer_bottom-25">Uber Black</h2>
            <div class="text">
              Автомобиль представительcкого класса не старше 2007 года.Марка автомобиля, например: Mercedes E/S-Class, Audi A6/A8, BMW 5-series/7-series – или аналогичные марки.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row spacer_bottom-75">
      <div class="col-sm-4 offset-sm-4">
        <div class="row">
          <div class="col-sm-10 offset-sm-1">
            <h2 class="text text_size_h2 spacer_bottom-25">Uber VAN</h2>
            <div class="text">
              Опрятный минивэн или микроавтобус в исправном техническом состоянии для перевозки 6 и более пассажиров.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text text_size_h3 text_transform_uppercase spacer_bottom-110">
    Основи
  </div>
  <div class="text text_size_h3 text_transform_uppercase">
    Як їздити з Uber в Україні
  </div>
  <div class="text">
    Uber дає чудову можливість працювати на себе й заробляти гроші. Бути водієм-партнером Uber може майже кожен. Ось що потрібно знати, щоб бути водієм у Києві, Одесі, Львові, Запоріжжі, Дніпрі, Вінниці, Харкові.
  </div>

  <div class="text text_size_h3 text_transform_uppercase">
    1. Зареєструйтеся онлайн
  </div>
  <div class="text">
    Маєте електронну адресу та смартфон? Чудово, тепер розкажіть нам трохи більше про себе, і ми допоможемо вам почати.
  </div>

  <div class="text text_size_h3 text_transform_uppercase">
    2. Отримайте транспортний засіб
  </div>
  <div class="text">
    На якій машині ви хочете їздити? Переконайтеся, що вона відповідає нашим стандартам в Україні.
  </div>

  <div class="text text_size_h3 text_transform_uppercase">
    3. Активуйте свій обліковий запис
  </div>
  <div class="text">
    Якщо ви виконали всі перераховані вище кроки, вітаємо! Ви готові активувати свій обліковий запис і почати заробляти гроші.
  </div>

  <div class="text text_size_h3 text_transform_uppercase">
    Підтримка
  </div>
  <div class="text">
    Давайте зробимо кожну поїздку з Uber простою й ненапруженою. Наші сторінки підтримки допоможуть вам налаштувати свій обліковий запис, почати роботу з додатком, відкоригувати тарифи та багато іншого.
  </div>

  <div class="text text_size_h3 text_transform_uppercase">
    Зв'язок з Uber
  </div>
  <div class="text">
    Виникли запитання щодо реєстрації, співпраці чи роботи з додатком? Напишіть в онлайн чат центру підключення та консультацій Uber у таких містах Україны::Харків, Дніпро, Вінниця, Запоріжжя.
  </div>

  <div class="text text_size_h3 text_transform_uppercase">
    Заробляйте більше
  </div>
  <div class="text">
    Окрім того, щоб перевозити пасажирів, ви також можете зареєструватися в Uber Eats і здійснювати доставку їжі. Дізнайтеся, як це працює у вашому місті.
  </div>
</div>


<div class="module module_theme_driver">
  <div class="container">
    <div class="text text_size_h1 text_color_white text_transform_uppercase spacer_bottom-40">
      Driver
    </div>
    <div class="row spacer_bottom-25">
      <div class="col-sm-4 offset-sm-4">
        <a href="#" class="button">Подключиться</a>
      </div>
    </div>
  </div>
</div>
