<%= render "shared/header" %>

<div class="container">
  <div class="module module_theme_inner">
    <div class="text text_size_h1 text_transform_uppercase spacer_bottom-40">
      UBER ЖДЕТ ТЕБЯ!
    </div>
    <div class="text text_size_h3 text_transform_uppercase spacer_bottom-110">
      УСЛОВИЯ И ТРЕБОВАНИЯ
    </div>

    <div class="spacer_bottom-75">
      <div class="row">
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-10 offset-sm-1">
              <h2 class="text text_size_h2 spacer_bottom-25">Uber X</h2>
              <div class="text">
                Опрятная иномарка в исправном техническом состоянии не старше 1995 года. Марка автомобиля, например: Chevrolet Aveo, Chevrolet Lacetty, Skoda Rapid, VW Polo, Hyundai Accent, Opel Astra – или аналогичные марки.
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-10 offset-sm-1">
              <h2 class="text text_size_h2 spacer_bottom-25">Uber Select</h2>
              <div class="text">
                Опрятная иномарка в исправном техническом состоянии не старше 2005 года. Марка автомобиля, например: Toyota Camry, Hyundai Sonata, Skoda Superb – или аналогичные марки.
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-10 offset-sm-1">
              <h2 class="text text_size_h2 spacer_bottom-25">Uber Black</h2>
              <div class="text">
                Автомобиль представительcкого класса не старше 2007 года.Марка автомобиля, например: Mercedes E/S-Class, Audi A6/A8, BMW 5-series/7-series – или аналогичные марки.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="module module_theme_driver">
  <div class="container">
    <div class="text text_size_h1 text_color_white text_transform_uppercase spacer_bottom-40">
      Driver
    </div>
    <div class="row spacer_bottom-25">
      <div class="col-sm-4 offset-sm-4">
        <a href="#" class="button">Подключиться</a>
      </div>
    </div>
  </div>
</div>
