<div class="container">
  <h1>UberGo Styleguide page</h1>

  <h2>Layout</h2>

  <div class="text">
    Use <a href="https://v4-alpha.getbootstrap.com/layout/grid/" target="_blank">bootstrap 4 grid</a> for layout.
    <br />
    For example two columns:
  </div>

  <code>
    &lt;div class="row"&gt;<br />
    &nbsp;&nbsp;&lt;div class="col-sm-6"&gt;<br />
    &nbsp;&nbsp;&nbsp;&nbsp;123<br />
    &nbsp;&nbsp;&lt;/div&gt;<br />
    &nbsp;&nbsp;&lt;div class="col-sm-6"&gt;<br />
    &nbsp;&nbsp;&nbsp;&nbsp;321<br />
    &nbsp;&nbsp;&lt;/div&gt;<br />
    &lt;/div&gt;
  </code>

  <div>or</div>

  <code>
    &lt;div class="row"&gt;<br />
    &nbsp;&nbsp;&lt;div class="col-sm"&gt;<br />
    &nbsp;&nbsp;&nbsp;&nbsp;123<br />
    &nbsp;&nbsp;&lt;/div&gt;<br />
    &nbsp;&nbsp;&lt;div class="col-sm"&gt;<br />
    &nbsp;&nbsp;&nbsp;&nbsp;321<br />
    &nbsp;&nbsp;&lt;/div&gt;<br />
    &lt;/div&gt;
  </code>

  <div class="text">Result:</div>

  <div class="row">
    <div class="col-sm-6">
      First half
    </div>
    <div class="col-sm-6">
      Second half
    </div>
  </div>

  <div>or</div>

  <div class="row">
    <div class="col-sm">
      First half
    </div>
    <div class="col-sm">
      Second half
    </div>
  </div>

  <h2>Css</h2>

  <ul class="text">
    <li>Top-level css files should have only (@import). Don't write any custom styles.</li>
    <li>Use (@import) for each file. Don't use (@import "components/**/*")</li>
    <li>List of top-level files is in: "config/initializers/assets.rb"</li>
    <li>
      Use
      <%= link_to "BEM", "https://en.bem.info/methodology/", target: "_blank" %>
      methodology with some custom extentions
    </li>
    <li>
      Don't use "px" in end of 0. For example:
      <code>padding: 30px 10px 0;</code>
    </li>
    <li>
      Use new line for each css property. For example:
      <div>
        <code>
          .test1 {<br />
          &nbsp;&nbsp;background: red;<br />
          }
        </code>
      </div>
    </li>
  </ul>

  <h2>Text</h2>
  <div class="text">Default font in site is: "Open Sans" from google-fonts. For example:</div>
  <div class="text">This is regular text</div>
  <div class="text"><strong>This is bold text</strong></div>

  <h2>Colors</h2>
  <ul class="text">
    <li>
      Use color-variable if it is possible. All color variables are in file:
      <code>app/assets/stylesheets/variables.scss</code>
    </li>
    <li>
      Also you can use rgba with variable. For example:
      <code>rgba($cod-gray-approx, 0.5)</code>
    </li>
    <li>
      Use this
      <%= link_to "site", "http://chir.ag/projects/name-that-color", target: "_blank" %>
      to generate color variable name.
    </li>
  </ul>

  <div class="text">Colors list:</div>

  <div class="row">
    <div class="col-sm-2">
      <div class="demo-color demo-color_background_black-approx">
        <div class="demo-color__title text text_color_white-solid">$cod-gray-approx</div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="demo-color demo-color_background_white-solid">
        <div class="demo-color__title text">$white-solid</div>
      </div>
    </div>
  </div>
</div>
