<div class="container">
  <h1>UberGo Styleguide page</h1>

  <h2>Layout</h2>

  <div>
    Use <a href="https://v4-alpha.getbootstrap.com/layout/grid/" target="_blank">bootstrap 4 grid</a> for layout.
    <br />
    For example two columns:
  </div>

  <code>
    &lt;div class="row"&gt;<br />
    &nbsp;&nbsp;&lt;div class="col-sm-6"&gt;<br />
    &nbsp;&nbsp;&nbsp;&nbsp;123<br />
    &nbsp;&nbsp;&lt;/div&gt;<br />
    &nbsp;&nbsp;&lt;div class="col-sm-6"&gt;<br />
    &nbsp;&nbsp;&nbsp;&nbsp;321<br />
    &nbsp;&nbsp;&lt;/div&gt;<br />
    &lt;/div&gt;
  </code>

  <div>or</div>

  <code>
    &lt;div class="row"&gt;<br />
    &nbsp;&nbsp;&lt;div class="col-sm"&gt;<br />
    &nbsp;&nbsp;&nbsp;&nbsp;123<br />
    &nbsp;&nbsp;&lt;/div&gt;<br />
    &nbsp;&nbsp;&lt;div class="col-sm"&gt;<br />
    &nbsp;&nbsp;&nbsp;&nbsp;321<br />
    &nbsp;&nbsp;&lt;/div&gt;<br />
    &lt;/div&gt;
  </code>

  <div>Result:</div>

  <div class="row">
    <div class="col-sm-6">
      First half
    </div>
    <div class="col-sm-6">
      Second half
    </div>
  </div>

  <div>or</div>

  <div class="row">
    <div class="col-sm">
      First half
    </div>
    <div class="col-sm">
      Second half
    </div>
  </div>

  <h2>Css</h2>
  <div>Top-level css files should have only (@import). Don't write any custom styles.</div>
  <div>Use (@import) for each file. Don't use (@import "components/**/*")</div>
  <div>List of top-level files is in: 'config/initializers/assets.rb'</div>

  <h2>Branches</h2>

  <div>
    All branch names atart with 'U' (UberGo) then we add trello ticket number and then branch name. For example:
  </div>

  <code>U-2-create-styleguide-page</code>

  <h2>Project Code style</h2>
  <div>There are some rules in project:</div>
  <ul>
    <li>Add newline at end of file</li>
    <li>No spaces in end of line</li>
    <li>Use 2 spaces for indentation</li>
  </ul>
</div>
