<%= render "shared/header" %>

<div class="container">
  <div class="module module_theme_inner">
    <div class="text text_size_h1 text_transform_uppercase spacer_bottom-40">
      О нас
    </div>
    <div class="text text_size_h3 text_transform_uppercase spacer_bottom-110">
      Преимущества работы С UberGo
    </div>
  </div>

  <div class="text text_size_h2 spacer_bottom-25">
    Мы – профессионалы!
  </div>

  <ul class="list">
    <li class="list__item text spacer_bottom-25">
      Подключаем водителей в считанные часы с минимальным пакетом документов (права, тех. паспорт, страховка). Вам не надо открывать ФОП или ТОВ.
    </li>
    <li class="list__item text spacer_bottom-25">
      Работайте, когда Вам это удобно, даже после основной работы.
    </li>
    <li class="list__item text spacer_bottom-25">
      У Вас полная свобода действий и никаких начальников!
    </li>
    <li class="list__item text spacer_bottom-25">
      Мы стремимся оказать лучший сервис для наших клиентов!  МЕГА-СКИДКИ до 50% на топливо, страховки, кофе и многое другое!
    </li>
  </ul>
</div>
