<%= render "shared/header" %>

<div class="module module_theme_greeting">
  <div class="text text_size_h1 text_color_white text_transform_uppercase spacer_bottom-40">
    Стань водителем UBER в Киеве
  </div>
  <div class="text text_size_h3 text_color_white text_transform_uppercase spacer_bottom-110">
    ЗАРАБАТЫВАЙТЕ ДО 40000 ГРН/МЕС НА ЛУЧШИХ УСЛОВИЯХ - КОМИССИЯ 7%
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <a href="#" class="button">Стать водителем UBER</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Условия</a>
      </div>
      <div class="col-sm-3 offset-sm-1">
        <a href="#" class="button">Сменить партнера</a>
      </div>
    </div>
  </div>
</div>
