<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <div class="text text_color_white"><b>UberGo</b></div>
      </div>
      <div class="col-sm-3 offset-sm-7">
        <%= link_to "+38 (011) 111 22 33",
                    "tel:+38 (011) 111 22 33",
                    class: "header__link text text_color_white" %>
      </div>
    </div>
  </div>
</div>
