<%= render "shared/header" %>

<div class="container">
  <div class="module module_theme_inner">
    <div class="text text_size_h1 text_transform_uppercase spacer_bottom-40">
      Тарифы
    </div>
    <div class="text text_size_h3 text_transform_uppercase spacer_bottom-110">
      Информация о наших тарифах
    </div>
  </div>
</div>
